In [1]:
10

10

In [53]:
0b10, 0o10, 0x10 # this creates a tuple

(2, 8, 16)

In [54]:
int('1000')

1000

In [55]:
int('1000', 2) #With base

8

In [56]:
3e8, 1.616e-34 #Exponents

(300000000.0, 1.616e-34)

In [57]:
None
a = None
a is None #comparing

True

In [58]:
bool(0) , bool(1) , bool(-1) , bool(0.4) , bool("") , bool("True") , bool("False") #Non empty String

(False, True, True, True, False, True, True)

In [59]:
if True:
    print("IF")
elif False:
    print("ELIF / Also unreachable")
else:
    print("Unreachable")

IF

In [60]:
c = 5
while c!=0:
    print(c)
    c -= 1
c=5
while c:
    print(c)
    c-=1

5
4
3
2
1
5
4
3
2
1

In [61]:
while True:
    response = input()
    if int(response) % 7 == 0:
        break

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x = 5
print(x)
x *= 5

In [62]:
for i in range(5):
    print(i*10)

0
10
20
30
40

In [63]:
import math
# help(math) # Doesnt work in jupyter
x = math.factorial(5)
print(x)

from math import factorial as fac
print(fac(10))

permutation = fac(10) / (fac(8) * fac(2))
print(permutation)

permutation = fac(10) // (fac(8) * fac(2)) #Converts to integer
print(permutation)

print(fac(50))

str(fac(50))

print(len(str(fac(50))))

120
3628800
45.0
45
30414093201713378043612608166064768844377641568960512000000000000

TypeError: 'str' object is not callable

In [ ]:
'ASDFGH', "ASDFGH" #STRINGS are Immutable, Unicode UTF-8

In [ ]:
'"Yes", he said, "I agree!"' '!!' #Concatenates 2 side by side different string

In [64]:
"""This is 
a multiline 
string"""

'This is \na multiline \nstring'

In [65]:
str = "This is a \\ in a strings"
print(str)
str = "This is a \' in a string" 
print(str)

This is a \ in a strings
This is a ' in a string

In [66]:
path = r'C:\Users\Aa\Downloads' #raw string
path , print(path)

C:\Users\Aa\Downloads

('C:\\Users\\Aa\\Downloads', None)

In [2]:
s = 'parrot'
print(s[0])
print(type(s[1]))

p
<class 'str'>

In [68]:
s.capitalize() #String_object.string_inbuilt_functions

'Parrot'

In [9]:
#String Reversal
print(s[::-1])

torrap

In [69]:
#Bytes - raw binary data
d = b'some bytes'
d[0],d.split()

(115, [b'some', b'bytes'])

In [70]:
norsk = "Finnes det noen her som snakker engelsk? Det er så hyggelig å treffe deg." #Norwegian
data = norsk.encode('utf-8')
norwegian = data.decode('utf-8')
data, norwegian , norsk == norwegian

(b'Finnes det noen her som snakker engelsk? Det er s\xc3\xa5 hyggelig \xc3\xa5 treffe deg.',
 'Finnes det noen her som snakker engelsk? Det er så hyggelig å treffe deg.',
 True)

In [71]:
#Lists
a = [1,2,3]
b = ["apple", "orange", "mango"]
c = []
c.append(1)
c.append(2)
c.append(3)
a , b , b[1] , c

([1, 2, 3], ['apple', 'orange', 'mango'], 'orange', [1, 2, 3])

In [72]:
b[1] = 7
print(b)

['apple', 7, 'mango']

In [73]:
list('constructor') #Creating a list from strings

['c', 'o', 'n', 's', 't', 'r', 'u', 'c', 't', 'o', 'r']

In [74]:
#Dictionaries
d = {'alice':'1234','bob':'2345','cate':'3456'}
d['charles'] = '5678'
d , d['alice']

({'alice': '1234', 'bob': '2345', 'cate': '3456', 'charles': '5678'}, '1234')

In [75]:
#For loop
cities = ['new york', 'paris', 'helsinki', 'berlin', 'tokyo']
for c in cities:
    print(c)

new york
paris
helsinki
berlin
tokyo

In [4]:
#Functions
def square(x):
    return x*x
square(25)

625

In [11]:
#Early Return
def odd_or_even(x):
    if x % 2 == 0:
        print("Even!")
        return 
    print("Odd!")

w = odd_or_even(31) 
print(w is None)

Odd!
True

In [16]:
# Nth root
def nth_root(radicand, n):
    return radicand**(1/n)
print(nth_root(16,2))
print(nth_root(27,3))

4.0
3.0

In [16]:
chegg = {}
for i in range(1,102):
    chegg[i] = i*i
print(chegg)

def min_max(chegg):
    key_max = max(chegg.keys(), key=(lambda k: chegg[k]))
    key_min = min(chegg.keys(), key=(lambda k: chegg[k]))

    return "Maximum value is: " + str(chegg[key_max]) + " Minimum value is: " + str(chegg[key_min])
min_max(chegg)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000, 101: 10201}

'Maximum value is: 10201 Minimum value is: 1'

In [3]:
# Objects and Types
a = 100
print(id(a))
b=200
print(id(b))
b=a
print(id(a) == id(b))
print(a is b)

1806826976
1806828576
True
True

In [5]:
# Python only has named references to objects
r = [1,2,3]
s = r
print(s)
s[1] = 0
print(s,r)
print(s is r)
p = [10,12,14]
q = [10,12,14]
print(p == q)
print(p is q)

[1, 2, 3]
[1, 0, 3] [1, 0, 3]
True
True
False

In [14]:
#Argument Passing (is call by reference) OR PASS BY OBJECT-REFERENCE
n =[10,12,14]
def modify(k):
    k.append(32)
    print("k = ", k)

modify(n)
print(n)

def replace(g):
    g = [10,20,30, 40]
    print("g = ", g)
replace(n)
print(n)

def new_replace(g):
    g[0] = 10
    g[1] = 20
    g[2] = 30
    g[3] = 40
    print("g = ", g)
new_replace(n)
print(n)

k =  [10, 12, 14, 32]
[10, 12, 14, 32]
g =  [10, 20, 30, 40]
[10, 12, 14, 32]
g =  [10, 20, 30, 40]
[10, 20, 30, 40]

In [18]:
#Default Arguments
def banner(message, border='-'):
    line = border * len(message) #Multiplying literal string with an int just repeats the string
    print(line)
    print(message)
    print(line)

banner("PYTHON")
banner("PYTHON",'*') #or banner("PYTHON", "*")

------
PYTHON
------
******
PYTHON
******

In [22]:
import time
time.ctime()
def show_default(arg = time.ctime()):
    print(arg)

show_default()

Sat Apr 25 05:51:19 2020

In [25]:
show_default() #Gives the same o/p even though its executed later because of arg being a default parameter
#Give Immutable types as default value such as Int, Strings and None

Sat Apr 25 05:51:19 2020

In [28]:
#Global Names
count = 0
def getcount():
    print(count)
def setcount(c):
    count = c

getcount()
setcount(5)
getcount()
#Using global
def newsetcount(c):
    global count
    count = c
newsetcount(5)
getcount()

0
0
5

In [38]:
#Tuples (Immutable)
t = ("Norway", 0.93, 33)
print(t[0],t[2],len(t))
print(t + (1234, 234e5))
print(t * 3)
#Nested tuples
t1 = ((123,23),(234,24),(345,34))
print(t1[1][1])
# h = (234) gives an int. h = (234,) gives a tuple
#Tuple Unpacking
(a,(b,(c,d))) = (1,(2,(3,4)))
print(a,b,c,d)

Norway 33 3
('Norway', 0.93, 33, 1234, 23400000.0)
('Norway', 0.93, 33, 'Norway', 0.93, 33, 'Norway', 0.93, 33)
24
1 2 3 4

In [39]:
#Swapping using tuples uses packing and unpacking
a = "Michael"
b = "Angelo"
a,b = b,a
a,b

('Angelo', 'Michael')

In [46]:
#Strings (are immutable)
"New" + "Found" + "Land"
s = "new"
s += "found"
s += "land"
print(s)
#Use str.join()
colors = ':'.join(['blue', 'yellow','red'])
print(colors)
print(colors.split(':'))
print("unforgettable".partition('forget')) #Since it gives a tuple, unpacking can be done at the user's behest
origin, separator, destination = "Seattle-Boston".partition('-')
print(origin, separator, destination)
origin, _, destination = "Seattle-Boston".partition('-')
print(origin, destination)

newfoundland
blue:yellow:red
['blue', 'yellow', 'red']
('un', 'forget', 'table')
Seattle - Boston
Seattle Boston

In [55]:
print("The age of {0} is {1}".format("Jim", 40))
print("The age of {} is {}".format("Jim", 40))
print("The age of {name} is {age}".format(name="Jim", age=40))
import math
print("Math constants are: pi = {m.pi} and e = {m.e}".format(m=math))
print("Math constants are: pi = {m.pi:.3} and e = {m.e:.3}".format(m=math))
print("Math constants are: pi = {m.pi:.3f} and e = {m.e:.3f}".format(m=math))

The age of Jim is 40
The age of Jim is 40
The age of Jim is 40
Math constants are: pi = 3.141592653589793 and e = 2.718281828459045
Math constants are: pi = 3.14 and e = 2.72
Math constants are: pi = 3.142 and e = 2.718

In [63]:
# F-STRINGS!
value = 4 * 20
print('The value is {value}'.format(value=value))
print(f'The value is {value}')
import datetime
print(f'The current date is {datetime.datetime.now().date()}')

The value is 80
The value is 80
The current date is 2020-04-25

In [70]:
#range()
print(list(range(1,10)))
print(list(range(1,10,2)))
t = [5,347,2568,56832,12374965]
for p in enumerate(t):
    print(p)
for i,v in enumerate(t):
    print(f"i = {i}, v = {v}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
(0, 5)
(1, 347)
(2, 2568)
(3, 56832)
(4, 12374965)
i = 0, v = 5
i = 1, v = 347
i = 2, v = 2568
i = 3, v = 56832
i = 4, v = 12374965

In [164]:
#Lists
r = [1 , -4, 214, 15]
print(r[len(r) - 1], r[-1], r[-1] is r[len(r) - 1])
print(r[1:-1], r[:2], r[2:])
s = r
print(s is r)
t = r[:]
print(t is r)
u = r.copy()
print(u is r)
v = list(r)
print(v is r) # all False do shallow copies

w = "the quick brown fox jumps over the lazy dog".split(' ')
i = w.index("fox")
print(i,w[i])
#print(f"the count of the is {w.count("the")}")  GIVES AN ERROR POSSIBLY DUE TO THE """" (NESTED "") 
print(f"the count of the is {w.count('the')}")

15 15 True
[-4, 214] [1, -4] [214, 15]
True
False
False
False
3 fox
the count of the is 2

In [165]:
# del KEYWORD
s = w[:]
del s[3] #is the same as del s['fox'] and del s[s.index['fox']]
s.remove('dog')
print(s)

['the', 'quick', 'brown', 'jumps', 'over', 'the', 'lazy']

In [166]:
s.insert(3,"fox")
s.insert(len(s),"dog")
s

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [167]:
t1 = [1,2,107,3,67]
t1.reverse()
print(t1)
t1.sort(reverse = True)
print(t1)
u1 = s
print(u1)
u1.sort(key=len)
u1
#use SORTED and REVERSED on a list so as to not do operations in-place.

[67, 3, 107, 2, 1]
[107, 67, 3, 2, 1]
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['the', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

In [173]:
dct = {'alice':'1234','bob':'2345','cate':'3456'}
dct.update({'alice':'0123','darren':'7890'})
print(dct)
# for values in dict.values():
# for keys in dict.keys():
for key, value in dct.items():
    print(key,value)

{'alice': '0123', 'bob': '2345', 'cate': '3456', 'darren': '7890'}
alice 0123
bob 2345
cate 3456
darren 7890

In [183]:
#Sets - Mutable , each element is also immutable, Unique, unordered items
p = {6,28,496,8128,33550336}
type(p)
# p = {} is wrong. p = set() is right
t2 = [1,4,2,1,7,9,9]
p1 = set(t2)
print(p1)
p1.add(63)
print(p1)
p1.update([1,2,3,4])
print(p1)
p1.remove(3)
print(p1)

#Set Algebra
smell_hcn = {'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Lola'}
ab_blood = {'Joshua', 'Lola'}
print(smell_hcn.union(ab_blood)) # do either
print(smell_hcn.intersection(taste_ptc)) #do both
print(taste_ptc.difference(smell_hcn)) #Can taste but cant smell
print(smell_hcn.symmetric_difference(taste_ptc)) #XORing sets

{1, 2, 4, 7, 9}
{1, 2, 4, 7, 9, 63}
{1, 2, 3, 4, 7, 9, 63}
{1, 2, 4, 7, 9, 63}
{'Amelia', 'Harry', 'Joshua', 'Lola'}
{'Harry', 'Amelia'}
{'Lily', 'Lola'}
{'Lola', 'Lily'}

In [2]:
#Exception Handling
digit_map = { 'one': '1', 'two' : '2', 'three' : '3', 'four' : '4', 'five' : '5', 'six' : '6', 'seven' : '7', 'eight' : '8', 'nine' : '9', 'zero' : '0',}
def convert(s):
    try:
        number=''
        for token in s:
            number+=digit_map[token]
        x=int(number)
    except KeyError: #Except block gives how to handle exception
        print("Conversion failed! Its not given in digit_map")
        x=-1
    except TypeError:
        print("Conversion failed! Its a non iterable string")
        x=-1
    return x
convert('one three seven'.split())

137

In [3]:
def new_convert(s):
    x = -1
    try:
        number=''
        for token in s:
            number+=digit_map[token]
        x=int(number)
    # except KeyError: #Except block gives how to handle exception
    #     print("Conversion failed! Its not given in digit_map")
    #     x=-1
    # except TypeError:
    #     print("Conversion failed! Its a non iterable string")
    #     x=-1
    except (KeyError, TypeError):
        print("Conversion failed!") #OR
        pass #Use this BECAUSE WE CANT HAVE AN EMPTY BLOCK (IT GIVES AN INDENDATION ERROR)
        # Or just return int(number) and -1 in try and except respectively to eliminate the need for x.
    return x
new_convert('one three seven five'.split())

1375

In [7]:
import sys
def new_convert1(s):
    try:
        number=''
        for token in s:
            number+=digit_map[token]
        return int(number)
    # except KeyError: #Except block gives how to handle exception
    #     print("Conversion failed! Its not given in digit_map")
    #     x=-1
    # except TypeError:
    #     print("Conversion failed! Its a non iterable string")
    #     x=-1
    except (KeyError, TypeError) as e:
        print(f"Conversion error: {e!r}",file = sys.stderr) #Using !r gives the repl representation, of e in the string
        raise #re raises the exception(wot?)
        # return -1
new_convert1('one three seven five eight'.split())
new_convert1('one three seven five cat'.split())

Conversion error: KeyError('cat')

KeyError: 'cat'

In [35]:
import math
def sqrt(x):
    if x<0:
        raise ValueError(f"Cannot compute root of negative number {x}")
    guess = x
    i = 0
    while guess**2 !=x and i<20:
        guess = (guess + x/guess)/2.0
        i+=1
    return guess

In [36]:
try:
    print(sqrt(4))
    print(sqrt(9))
    print(sqrt(-1))
except ZeroDivisionError: #Instead of raising valueError here, we can do it inside the function
    print("Cant divide by 0")

2.0
3.0

ValueError: Cannot compute root of negative number -1

In [37]:
# IndexError - out of range, KeyError, ValueError - inappropriate value ex - int("dog")

In [7]:
#Iterables - LIST
words = "Why sometimes I have believed as many as six impossible things before breakfast".split()
words
print([len(word) for word in words])
print([len(words) for word in words])
#Syntax - [expr(item) for item in iterable]
from math import factorial
f = [len(str(factorial(x))) for x in range(20)]
print(f,type(f)) #List
f1 = {len(str(factorial(x))) for x in range(20)}
print(f1,type(f1)) #Set

[3, 9, 1, 4, 8, 2, 4, 2, 3, 10, 6, 6, 9]
[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13]
[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18] <class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18} <class 'set'>

In [8]:
#DICT
country_capital = {'UK': 'London','USA':'Washington','India':'New Delhi','Sweden':'Stockholm'}
capital_country = {capital: country for country, capital in country_capital.items()}
print(capital_country)

{'London': 'UK', 'Washington': 'USA', 'New Delhi': 'India', 'Stockholm': 'Sweden'}

In [18]:
from math import sqrt
def is_prime(x):
    if x<2:
        return False
    for i in range(2,int(sqrt(x))+1):
        if x%i == 0:
            return False
    return True
primes = [x for x in range(101) if is_prime(x)]
print(primes)
prime_square_divisors = {x*x:(1,x,x*x) for x in range(20) if is_prime(x)}
print(prime_square_divisors)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
{4: (1, 2, 4), 9: (1, 3, 9), 25: (1, 5, 25), 49: (1, 7, 49), 121: (1, 11, 121), 169: (1, 13, 169), 289: (1, 17, 289), 361: (1, 19, 361)}

In [22]:
#Iterable has iter() which generates iterator which has next() to move down the sequence
iterable = ['Summer','Autumn','Winter','Spring']
iterator = iter(iterable)
# iterator.next()
print(next(iterator))
print(next(iterator))
print(next(iterator))

def first(iterable):
    iterator = iter(iterable)
    try:
        return next(iterator)
    except StopIteration:
        raise ValueError("Iterable is Empty!")

first(iterable)
first({'1st','2nd'})
# first(set())

Summer
Autumn
Winter

'1st'

In [ ]:
#Generator functions - Have atleast 1 yield statement
def gen123():
    yield 1
    yield 2
    yield 3
g = gen123()
print(g) #Generator functions give iterators
print(next(g))
print(next(g))
print(next(g))
# print(next(g))

for v in gen123():
    print(v) #Every call generates a new iterator object

print(v == g)

In [7]:
def lucas():
    yield 2
    a = 2
    b = 1
    while True:
        yield b
        a, b = b, a+b
lucas()
for x in lucas():
    if x < 20:
        print(x)
    else:
        break

2
1
3
4
7
11
18

In [14]:
#Generator expressions= (expr(item) for item in iterable)
thousand_squares = (x*x  for x in range(1,1000))
print(thousand_squares)
print(list(thousand_squares)[:10])
thousand_squares = (x*x  for x in range(1,1000)) #Generators are only ONE TIME USE OBJECTS. Hence call the generator expr again.
print(thousand_squares)
print(list(thousand_squares)[-10:])

<generator object <genexpr> at 0x07305B18>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
<generator object <genexpr> at 0x07305290>
[980100, 982081, 984064, 986049, 988036, 990025, 992016, 994009, 996004, 998001]

In [17]:
sum(x*x for x in range(1,1000001))
sum((x*x for x in range(1,1000001)))

333333833333500000

In [25]:
from itertools import count,islice
thousand_primes = islice((x for x in count() if is_prime(x)), 1000)
print(thousand_primes)
print(list(thousand_primes)[-10:])
print(sum(islice((x for x in count() if is_prime(x)),1000)))

<itertools.islice object at 0x06E4BCD0>
[7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919]
3682913

In [30]:
print(any([False,False,True]))
print(all([False,True,True]))
print(any(is_prime(x) for x in range(1328,1361)))

True
False
False

In [34]:
sunday = [12,14,15,15,17,21]
monday = [13,14,14,14,16,20]
for item in zip(sunday,monday):
    print(item)
for sun,mon in zip(sunday,monday):
    print("Average =", (sun+mon)/2)
tuesday = [2,2,3,7,9,10]
for temps in zip(sunday,monday,tuesday):
    print(f"min = {min(temps):4.1f}, max = {max(temps):4.1f}, avg = {sum(temps) / len(temps):4.1f}")

(12, 13)
(14, 14)
(15, 14)
(15, 14)
(17, 16)
(21, 20)
Average = 12.5
Average = 14.0
Average = 14.5
Average = 14.5
Average = 16.5
Average = 20.5
min =  2.0, max = 13.0, avg =  9.0
min =  2.0, max = 14.0, avg = 10.0
min =  3.0, max = 15.0, avg = 10.7
min =  7.0, max = 15.0, avg = 12.0
min =  9.0, max = 17.0, avg = 14.0
min = 10.0, max = 21.0, avg = 17.0

In [36]:
from itertools import chain
temperatures = chain(sunday,monday,tuesday)
print(temperatures)
print(all(t>0 for t in temperatures))

<itertools.chain object at 0x073F4160>
True

In [10]:
#FILES!
# Mode - r for read, w for write, a for append | Selectors - t for text, b for binary
import sys
print(sys.getdefaultencoding())
f = open('wasteland.txt', mode='wt', encoding='utf-8')
f.write('What are the roots that clutch, ')
f.write('what branches grow \n')
f.write('Out of this stony rubbish? ')
f.close()

utf-8

In [25]:
g = open('wasteland.txt', mode='rt', encoding='utf-8')
print(g.read())
g.read()

What are the roots that clutch, what branches grow
Out of this stony rubbish?

''

In [26]:
g.seek(0)
g.readline()

'What are the roots that clutch, what branches grow \n'

In [27]:
g.readline()

'Out of this stony rubbish? '

In [28]:
g.seek(0)
print(g.readlines())
g.close()

['What are the roots that clutch, what branches grow \n', 'Out of this stony rubbish? ']

In [29]:
# Condensed if statement
# result = true_value if condition else false_value

In [39]:
#Lambda Functions
scientists = ['Marie Curie', 'Albert Einstein', 'Isaac Newton', 'Antoine Lavosier', 'Niels Bohr', 'Alfred Wegener', 'Charles Darwin', 'Dmitri Mendeleev']
print(sorted(scientists, key=lambda name:name.split()))
print(sorted(scientists, key=lambda name:name.split()[-1]))

['Albert Einstein', 'Alfred Wegener', 'Antoine Lavosier', 'Charles Darwin', 'Dmitri Mendeleev', 'Isaac Newton', 'Marie Curie', 'Niels Bohr']
['Niels Bohr', 'Marie Curie', 'Charles Darwin', 'Albert Einstein', 'Antoine Lavosier', 'Dmitri Mendeleev', 'Isaac Newton', 'Alfred Wegener']

In [1]:
last_name= lambda name:name.split()[-1]
print(last_name)
print(last_name('Nikola Tesla'))

<function <lambda> at 0x055C2460>
Tesla

In [33]:
import pandas as pd #Importing Pandas
import numpy as np

elec = pd.DataFrame()
elec.insert(loc=0, column='States',value=['Alabama','Alabama','Alaska','Alabama','Alabama','Alaska','Alaska', 'Rhode Island'])
fips = pd.Series(['1001', '1002', '1001', '1003', '1004', np.nan, np.nan, np.nan,])
elec.insert(loc=1,column='FIPS',value=fips)
elec

         States  FIPS
0       Alabama  1001
1       Alabama  1002
2        Alaska  1001
3       Alabama  1003
4       Alabama  1004
5        Alaska   NaN
6        Alaska   NaN
7  Rhode Island   NaN

In [7]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i=0
print(PlayListRatings[0:6:4])
while PlayListRatings[i]>=6 :
    # if (PlayListRatings[i]>=6):
    print(PlayListRatings[i])
    i+=1
    # else:
    #     break

[10, 7.5]
10
9.5
10
8
7.5